header {
    margin-bottom: 25px;
    .logo {
        img {
            width: 120px;
        }
    }

    .search {
        padding-top: 40px;
    }
    .navigation {
        padding-top: 40px;
    }

    .tools {
        padding-top: 47px;

        .pi {
            margin-right: 10px;
        }
    }
}